body {
    font-family: JETBRAINSMONO-REGULAR;
    background-color: rgb(0, 11, 17);
    margin: 0px;
}

header {
    background-color: #e4e4e4; /* Cor de fundo da barra horizontal */
    color: #fff; /* Cor do texto na barra */
    text-align: start;
    padding: 0px 0; /* Espaçamento interno da barra (10px acima e abaixo, 0 à esquerda e à direita) */
    margin-top: -28px;
  }

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(3, 168, 3);
    font-family: JETBRAINSMONO-REGULAR;
}

p {
    margin: 50px;
    color: whitesmoke;
    font-family: JETBRAINSMONO-REGULAR;
}

.post {
    background-color: #d6d6d6;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer; /* Adicionamos um estilo de cursor para indicar que é clicável */
    border-radius: 10px;
    margin-left: -150px;
    margin-right: -150px;
}

h3 {
    font-size: 30px;
    margin: 50px;
    color: whitesmoke;
    font-family: JETBRAINSMONO-REGULAR;
}

h4, h5 {
    font-size: 20px;
    margin: 55px;
    color: whitesmoke;
    text-align: justify;
    font-family: JETBRAINSMONO-REGULAR;
}

button {
    -webkit-text-fill-color: whitesmoke;
    background-color: rgb(0, 11, 17);
    cursor: pointer;
    width: 300px;
    font-size: xx-large;
    stroke:rgb(0, 11, 17);
    font-family: Jetbrains Mono
};
